header {
    display: flex;
    justify-content: center;
    font-family: var(--montserrat);
}

.header__container {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: rgba(0, 0, 0,0.5);

}

.header__logo {
    display: none;
}

.header__nav {
    display: flex;
    width: 95%;
    white-space: nowrap;
    justify-content: space-around;
    margin-right: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.header__link {
    color: rgb(205 205 205);
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 1s;
}

.header__link:hover {
    color: rgba(230,30,61);
}

@media screen and (min-width: 768px) {

    .header__container {
        justify-content: center
    }
    
    .header__nav {
        width: 30rem;
    }
}

@media screen and (min-width: 1024px) {

    .header__container {
        justify-content: space-between
    }
    
    .header__logo {
        display: flex;
        border-radius: 15px;
        width: 120px;
        padding: 5px 10px;
    }

    .header__nav {
        width: 30rem;
    }
    
}