header {
    display: flex;
    font-family: var(--montserrat);
    justify-content: center;
}

.header__container {
    align-items: center;
    background: var(--background-semi-oscuro);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
}

.header__logo {
    display: none;
}

.header__nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 30px;
    padding: 5px;
    white-space: nowrap;
    width: 95%;
}

.header__list {
    padding: 5px;
}

.header__link {
    color: var(--font-color-gray);
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 1s;
}

.header__link:hover {
    color: var(--font-avalith-rojo);
}

@media screen and (min-width: 768px) {

    .header__container {
        justify-content: center
    }
    
    .header__nav {
        width: 30rem;
    }

}

@media screen and (min-width: 1024px) {

    .header__container {
        justify-content: space-between
    }
    
    .header__logo {
        border-radius: 15px;
        display: flex;
        padding: 5px 10px;
        width: 120px;
    }

    .header__nav {
        width: 30rem;
    }
    
}