.homepage {
    align-items: center;
    background: var(--background-oscuo);
    display: flex;
    height: 87vh;
    justify-content: center;
}

.presentation__welcome {
    color: var(--font-avalith-rojo);
    font-family: var(--montserrat);
    font-size: 1.5rem; 
    font-weight: bolder;
    padding: 10px;
}

.presentation__name {
    color: var(--font-color-white);
    font-family: var(--poppins);
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 700;
}

.presentation__point {
    color: var(--font-avalith-rojo);
    font-size: 1.9rem;
}

.footer {
    background: var(--background-oscuo);
    border-top: 1px solid var(--background-blanco);
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    padding: 2px 5px;
    align-content: center;
    justify-content: center;
}

.developers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 5px;
}

.developers__name {
    font-family: var(--poppins);
    font-size: 0.8rem;
    color: var(--font-color-white);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    color: var(--font-avalith-rojo);
    font-weight: bolder;
}


@media screen and (min-width: 768px) {

    .footer {
        display: flex;
        flex-direction: row;
    }

    .developers {
        flex-direction: row;
        padding: 0;
    }

    .developers__name {
        padding: 0 5px;
    }
}

@media screen and (min-width: 1024px) {

    .homepage {
        align-items: center;
        display: flex;
        background: url('../images/deskBlue.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 87vh;
        justify-content: center;
    }
    
    .homepage__write {
        display: table;
    }
    
    .presentation__welcome {
        animation: cursor 0.5s infinite, homepage__write 3.5s steps(42, end);   
        border-right: 2.5px solid var(--font-color-white);
        color: var(--font-color-white);
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0 0 1.5rem 0;
        overflow: hidden;
        white-space: nowrap;
    }
    
    @keyframes cursor {
        0%{border-color: transparent}
        50%{border-color: var(--background-blanco)}
    }
    
    @keyframes homepage__write {
        from{width: 0;}
        to{width: 100%;}
    }
    
}

