.dashboard {
    display: flex;
    flex-wrap: wrap;
}

.cardTrue, .cardFalse {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #333 solid;
    border-radius: 3px;
    margin: 5px;
    width: 250px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 1s
}

.cardTrue {
    background-color:rgb(165, 229, 240);
}

.cardFalse {
    background-color: rgb(238, 205, 205) ;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.id {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    white-space: nowrap;
    font-size: 30px;
}

.userId {
    font-weight: bold;

}

.title {
    font-size: medium;
}

.stateF {
    color: rgb(216, 2, 2);
    text-align: start;
}

.state {
    color: rgb(8, 192, 8);
    text-align: start;
}

.cardTrue:hover {
    transform: scale(1.1);
    background-color: rgb(67, 80, 197);
    color: aliceblue;
}

.cardFalse:hover {
    transform: scale(1.1);
    background-color: rgb(189, 129, 154);
    color: aliceblue;
}

.cardTrue:active, .cardFalse:active {
    transform: rotate(180deg);
}